
# Entorno virtual
env/
venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos temporales
*.log

# Bases de datos SQLite
*.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/
